---
import Captcha from "./Captcha.astro";
---

<div
	class="rounded-xl bg-gray-800 bg-opacity-50 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8"
>
	<div class="text-white">
		<div class="mb-8 flex flex-col items-center">
			<img
				src="/images/vikectf-logo.png"
				width="150"
				alt=""
				srcset=""
				class="p-4"
			/>
			<h1 class="mb-2 text-2xl">The Vault</h1>
			<span class="text-gray-300">Enter Login Details</span>
		</div>
		<form action="/login" method="post">
			<div class="mb-4 text-lg w-full">
				<input
					id="user"
					class="w-full rounded-3xl border-none bg-blue-100 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
					type="text"
					name="user"
					placeholder="user"
					required
				/>
			</div>

			<div class="mb-4 text-lg w-full">
				<input
					id="pass"
					class="w-full rounded-3xl border-none bg-blue-100 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
					type="password"
					name="pass"
					placeholder="****"
					required
				/>
			</div>
			<Captcha />
			<div class="mt-8 flex justify-center text-lg text-black">
				<button
					disabled
					id="login_button"
					class="rounded-3xl bg-blue-100 bg-opacity-50 px-10 py-2 text-white shadow-xl backdrop-blur-md transition-colors duration-300 hover:bg-blue-400"
					>Login</button
				>
			</div>
		</form>
	</div>
</div>
